<form class="align-left" [formGroup]="passwordsForm" #formDir="ngForm">

  <span class="color-green"><strong>{{ 'CHANGE-PASSWORD.old-password' | translate }}</strong></span>
  <div class="input-group mb-3 input-group-md">
    <div class="input-group-prepend">
      <span class="input-group-text fa fa-user"></span>
    </div>
    <input type="password" class="form-control" placeholder="··········" formControlName="oldpassword">
  </div>

  <span class="color-green"><strong>{{ 'CHANGE-PASSWORD.new-password' | translate }}</strong></span>
  <div class="input-group mb-3 input-group-md">
    <div class="input-group-prepend">
      <span class="input-group-text fa fa-user"></span>
    </div>
    <input type="password" class="form-control" placeholder="··········" formControlName="newpassword">
  </div>

  <span class="color-green"><strong>{{ 'CHANGE-PASSWORD.confirm' | translate }}</strong></span>
  <div class="input-group mb-3 input-group-md">
    <div class="input-group-prepend">
      <span class="input-group-text fa fa-user"></span>
    </div>
    <input type="password" class="form-control" placeholder="··········" formControlName="newpasswordconf">
  </div>

  <div class="align-right">
    <button class="btn btn-danger margin-button" data-dismiss="modal">{{ 'COMMON.cancel' | translate }}</button>
    <button type="submit" class="btn btn-success" (click)="onSubmit()" data-dismiss="modal">{{ 'COMMON.save' | translate }}</button>
  </div>

</form>