<div class="row">
  <div class="offset-md-3 col-md-6">
    <h2>{{ 'GROUP.my-groups-capital' | translate }}</h2>
    <div *ngIf="mygroups.length == 0" class="no-groups-div">
      <span class="no-groups">{{ 'GROUPS.no-groups' | translate }}</span>
    </div>
    <div *ngFor="let group of pageShowingGroups">
      <div routerLink="/group/{{group.id}}" class="group-div div-shadow cursor-pointer">
        <div class="row">
          <div class="col-md-8">
            <span class="attribute-title">{{ 'GROUPS.group' | translate }}</span><br>
            <span class="attribute">{{group.groupName}}</span>
          </div>
          <div class="col-md-4">
            <span class="attribute-title">{{ 'GROUPS.creation-date' | translate }}</span><br>
            <span class="attribute">{{group.creationDate}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- PAGINATION -->
    <div *ngIf="mygroups.length != 0" class="pagination-div">
      <span>{{ 'COMMON.showing' | translate }} <strong>{{pageConfig.firstShown}}</strong> {{ 'COMMON.to' | translate }} <strong>{{pageConfig.lastShown}}</strong> {{ 'COMMON.of' | translate }} <strong>{{pageConfig.size}}</strong></span><br>
      <button (click)="previousPage()" class="btn btn-success left-arrow"><i class="fa fa-caret-left"></i></button>
      <button (click)="nextPage()" class="btn btn-success right-arrow"><i class="fa fa-caret-right"></i></button>
    </div>
    <!-- ---------- -->
  </div>
</div>

<button data-toggle="modal" data-target="#newGroup" class="new-button" title="{{ 'GROUPS.create-new-group' | translate }}"><i class="fa fa-plus"></i></button>
<!-- MODAL -->
<div class="modal fade" id="newGroup">
  <div class="modal-dialog">
    <div class="modal-content color-green-modal">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'GROUPS.create-new-group' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <span>{{ 'GROUP.group-name' | translate }}</span>
        <input type="text" class="form-control" placeholder="New group" [formControl]="groupNameInput">
        <br>
        <div class="modal-buttons">
            <button type="button" class="btn btn-danger margin-right-button" data-dismiss="modal">{{ 'COMMON.cancel' | translate }}</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="save()">{{ 'COMMON.save' | translate }}</button>
        </div>

      </div>
    </div>
  </div>
</div>