<h1>{{ 'LOGIN.login' | translate }}</h1>
<div class="row">
  <div class="offset-md-4 col-md-4 div-shadow">
    <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3 input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text fa fa-2x fa-user"></span>
        </div>
        <input type="text" class="form-control" placeholder="{{ 'LOGIN.username' | translate }}" formControlName="username"
          [ngClass]="{'is-invalid': submitted && form.username.errors }" autofocus>
        <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
          <div *ngIf="form.username.errors.required">{{ 'LOGIN.username-required' | translate }}</div>
        </div>
      </div>

      <div class="input-group mb-3 input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text fa fa-2x fa-lock"></span>
        </div>
        <input type="password" class="form-control" placeholder="··········" formControlName="password"
          [ngClass]="{'is-invalid': submitted && form.password.errors }">
        <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
          <div *ngIf="form.password.errors.required">{{ 'LOGIN.password-required' | translate }}</div>
          <div *ngIf="form.password.errors.minlength">{{ 'LOGIN.password-length' | translate }} {{minLengthPass}} {{ 'LOGIN.characters' | translate }}</div>
        </div>    
      </div>
      <div class="align-center">
        <button type="submit" class="cool-button">{{ 'LOGIN.LOGIN' | translate }}</button>
        <br>
        <a routerLink="/register">{{ 'LOGIN.no-account' | translate }}</a>
      </div>
    </form>
  </div>
</div>